# dependencies
node_modules

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

*.log*

.history
.vscode
ols.json

*.min.mjs
*.min.html
*.wasm

*.code-workspace
