.DS_Store

.history
.vscode
ols.json
*.code-workspace

.build/
dist/
*.log
*.wasm
*.min.mjs
*.min.html

# /build
# /build.exe
/build.dSYM
/build.pdb

# Local Netlify folder
.netlify

src/world/backups
