.breakout-block {
  display: inline-block;
  opacity: 1;
  transform: scale(1);
  transition: opacity ease-in 100ms, transform ease-in 100ms;

  /* outline: 1px solid red; */
}

.breakout-block.odd {
  /* color: var(--main-color); */
}

.breakout-block.destroyed {
  opacity: 0;
  transform: scale(1.2);
}
